<div class="jumbotron landing-jumbo-one text-center">
  <h1>Webapps for everyone.</h1>
  <h3>Integrate your repos with accessibility testing.</h3>
  <%= button_to 'signin with github', github_login_path, method: "get", class: "btn btn-signin" %>
</div>
<div class="container">

</div>
