<div class="jumbotron landing-jumbo-one text-center">
  <h1>We love responsiveness.</h1>
  <h3>Automatically remind your team to make views responsive.</h3>
  <%= button_to 'signin with github', github_login_path, method: "get", class: "btn btn-signin", id:"signin" %>
</div>
<div class="container">

</div>
