---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/weilandia/git_responsive
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token ee78e9ce366f546089f58aefe45c5afd296d4967
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4932'
      X-Ratelimit-Reset:
      - '1460004871'
      Etag:
      - W/"2ebe810c3673607ead58bd590e1818b8"
      Last-Modified:
      - Wed, 06 Apr 2016 21:33:09 GMT
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - repo
      X-Oauth-Client-Id:
      - 2e68d608b599215fe919
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '{"id":55641766,"name":"git_responsive","full_name":"weilandia/git_responsive","owner":{"login":"weilandia","id":13652979,"avatar_url":"https://avatars.githubusercontent.com/u/13652979?v=3","gravatar_id":"","url":"https://api.github.com/users/weilandia","html_url":"https://github.com/weilandia","followers_url":"https://api.github.com/users/weilandia/followers","following_url":"https://api.github.com/users/weilandia/following{/other_user}","gists_url":"https://api.github.com/users/weilandia/gists{/gist_id}","starred_url":"https://api.github.com/users/weilandia/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/weilandia/subscriptions","organizations_url":"https://api.github.com/users/weilandia/orgs","repos_url":"https://api.github.com/users/weilandia/repos","events_url":"https://api.github.com/users/weilandia/events{/privacy}","received_events_url":"https://api.github.com/users/weilandia/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/weilandia/git_responsive","description":null,"fork":false,"url":"https://api.github.com/repos/weilandia/git_responsive","forks_url":"https://api.github.com/repos/weilandia/git_responsive/forks","keys_url":"https://api.github.com/repos/weilandia/git_responsive/keys{/key_id}","collaborators_url":"https://api.github.com/repos/weilandia/git_responsive/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/weilandia/git_responsive/teams","hooks_url":"https://api.github.com/repos/weilandia/git_responsive/hooks","issue_events_url":"https://api.github.com/repos/weilandia/git_responsive/issues/events{/number}","events_url":"https://api.github.com/repos/weilandia/git_responsive/events","assignees_url":"https://api.github.com/repos/weilandia/git_responsive/assignees{/user}","branches_url":"https://api.github.com/repos/weilandia/git_responsive/branches{/branch}","tags_url":"https://api.github.com/repos/weilandia/git_responsive/tags","blobs_url":"https://api.github.com/repos/weilandia/git_responsive/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/weilandia/git_responsive/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/weilandia/git_responsive/git/refs{/sha}","trees_url":"https://api.github.com/repos/weilandia/git_responsive/git/trees{/sha}","statuses_url":"https://api.github.com/repos/weilandia/git_responsive/statuses/{sha}","languages_url":"https://api.github.com/repos/weilandia/git_responsive/languages","stargazers_url":"https://api.github.com/repos/weilandia/git_responsive/stargazers","contributors_url":"https://api.github.com/repos/weilandia/git_responsive/contributors","subscribers_url":"https://api.github.com/repos/weilandia/git_responsive/subscribers","subscription_url":"https://api.github.com/repos/weilandia/git_responsive/subscription","commits_url":"https://api.github.com/repos/weilandia/git_responsive/commits{/sha}","git_commits_url":"https://api.github.com/repos/weilandia/git_responsive/git/commits{/sha}","comments_url":"https://api.github.com/repos/weilandia/git_responsive/comments{/number}","issue_comment_url":"https://api.github.com/repos/weilandia/git_responsive/issues/comments{/number}","contents_url":"https://api.github.com/repos/weilandia/git_responsive/contents/{+path}","compare_url":"https://api.github.com/repos/weilandia/git_responsive/compare/{base}...{head}","merges_url":"https://api.github.com/repos/weilandia/git_responsive/merges","archive_url":"https://api.github.com/repos/weilandia/git_responsive/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/weilandia/git_responsive/downloads","issues_url":"https://api.github.com/repos/weilandia/git_responsive/issues{/number}","pulls_url":"https://api.github.com/repos/weilandia/git_responsive/pulls{/number}","milestones_url":"https://api.github.com/repos/weilandia/git_responsive/milestones{/number}","notifications_url":"https://api.github.com/repos/weilandia/git_responsive/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/weilandia/git_responsive/labels{/name}","releases_url":"https://api.github.com/repos/weilandia/git_responsive/releases{/id}","deployments_url":"https://api.github.com/repos/weilandia/git_responsive/deployments","created_at":"2016-04-06T21:28:47Z","updated_at":"2016-04-06T21:33:09Z","pushed_at":"2016-04-07T02:46:25Z","git_url":"git://github.com/weilandia/git_responsive.git","ssh_url":"git@github.com:weilandia/git_responsive.git","clone_url":"https://github.com/weilandia/git_responsive.git","svn_url":"https://github.com/weilandia/git_responsive","homepage":null,"size":162,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":8,"forks":0,"open_issues":8,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true},"network_count":0,"subscribers_count":1}'
  recorded_at: Thu, 07 Apr 2016 04:24:34 GMT
- request:
    method: get
    uri: https://api.github.com/repos/weilandia/git_responsive/contents/app/views?ref=master
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token ee78e9ce366f546089f58aefe45c5afd296d4967
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4931'
      X-Ratelimit-Reset:
      - '1460004871'
      Etag:
      - W/"a398c1172cf1356973200dc621331010"
      Last-Modified:
      - Wed, 06 Apr 2016 21:33:09 GMT
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 2e68d608b599215fe919
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '[{"name":"layouts","path":"app/views/layouts","sha":"d5ede77897c328f40be1c667a9bd0f609dc213b0","size":0,"url":"https://api.github.com/repos/weilandia/git_responsive/contents/app/views/layouts?ref=master","html_url":"https://github.com/weilandia/git_responsive/tree/master/app/views/layouts","git_url":"https://api.github.com/repos/weilandia/git_responsive/git/trees/d5ede77897c328f40be1c667a9bd0f609dc213b0","download_url":null,"type":"dir","_links":{"self":"https://api.github.com/repos/weilandia/git_responsive/contents/app/views/layouts?ref=master","git":"https://api.github.com/repos/weilandia/git_responsive/git/trees/d5ede77897c328f40be1c667a9bd0f609dc213b0","html":"https://github.com/weilandia/git_responsive/tree/master/app/views/layouts"}},{"name":"shared","path":"app/views/shared","sha":"f474fb52cdf24d50044e62d8b4e6f1689d35c530","size":0,"url":"https://api.github.com/repos/weilandia/git_responsive/contents/app/views/shared?ref=master","html_url":"https://github.com/weilandia/git_responsive/tree/master/app/views/shared","git_url":"https://api.github.com/repos/weilandia/git_responsive/git/trees/f474fb52cdf24d50044e62d8b4e6f1689d35c530","download_url":null[...]
- request:
    method: get
    uri: https://api.github.com/repos/weilandia/git_responsive/contents/app/views/layouts?ref=master
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token ee78e9ce366f546089f58aefe45c5afd296d4967
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
 [...]
- request:
    method: get
    uri: https://api.github.com/repos/weilandia/git_responsive/contents/app/views/shared?ref=master
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token ee78e9ce366f546089f58aefe45c5afd296d4967
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
  [...]
- request:
    method: get
    uri: https://api.github.com/repos/weilandia/git_responsive/contents/app/views/static_pages?ref=master
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token ee78e9ce366f546089f58aefe45c5afd296d4967
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Lim[...]
- request:
    method: get
    uri: https://api.github.com/repos/weilandia/git_responsive/contents/app/views/users?ref=master
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token ee78e9ce366f546089f58aefe45c5afd296d4967
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
   [...]
