---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/weilandia/1511_task_manager
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token ee78e9ce366f546089f58aefe45c5afd296d4967
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4926'
      X-Ratelimit-Reset:
      - '1460004871'
      Etag:
      - W/"16a933a2c389ba521353c98b02c1d9fc"
      Last-Modified:
      - Thu, 04 Feb 2016 18:56:21 GMT
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - repo
      X-Oauth-Client-Id:
      - 2e68d608b599215fe919
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '{"id":51097711,"name":"1511_task_manager","full_name":"weilandia/1511_task_manager","owner":{"login":"weilandia","id":13652979,"avatar_url":"https://avatars.githubusercontent.com/u/13652979?v=3","gravatar_id":"","url":"https://api.github.com/users/weilandia","html_url":"https://github.com/weilandia","followers_url":"https://api.github.com/users/weilandia/followers","following_url":"https://api.github.com/users/weilandia/following{/other_user}","gists_url":"https://api.github.com/users/weilandia/gists{/gist_id}","starred_url":"https://api.github.com/users/weilandia/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/weilandia/subscriptions","organizations_url":"https://api.github.com/users/weilandia/orgs","repos_url":"https://api.github.com/users/weilandia/repos","events_url":"https://api.github.com/users/weilandia/events{/privacy}","received_events_url":"https://api.github.com/users/weilandia/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/weilandia/1511_task_manager","description":null,"fork":true,"url":"https://api.github.com/repos/weilandia/1511_task_manager","forks_url":"https://api.github.com/repos/weilandia/1511_task_manager/forks","keys_url":"https://api.github.com/repos/weilandia/1511_task_manager/keys{/key_id}","collaborators_url":"https://api.github.com/repos/weilandia/1511_task_manager/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/weilandia/1511_task_manager/teams","hooks_url":"https://api.github.com/repos/weilandia/1511_task_manager/hooks","issue_events_url":"https://api.github.com/repos/weilandia/1511_task_manager/issues/events{/number}","events_url":"https://api.github.com/repos/weilandia/1511_task_manager/events","assignees_url":"https://api.github.com/repos/weilandia/1511_task_manager/assignees{/user}","branches_url":"https://api.github.com/repos/weilandia/1511_task_manager/branches{/branch}","tags_url":"https://api.github.com/repos/weilandia/1511_task_manager/tags","blobs_url":"https://api.github.com/repos/weilandia/1511_task_manager/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/weilandia/1511_task_manager/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/weilandia/1511_task_manager/git/refs{/sha}","trees_url":"https://api.github.com/repos/weilandia/1511_task_manager/git/trees{/sha}","statuses_url":"https://api.github.com/repos/weilandia/1511_task_manager/statuses/{sha}","languages_url":"https://api.github.com/repos/weilandia/1511_task_manager/languages","stargazers_url":"https://api.github.com/repos/weilandia/1511_task_manager/stargazers","contributors_url":"https://api.github.com/repos/weilandia/1511_task_manager/contributors","subscribers_url":"https://api.github.com/repos/weilandia/1511_task_manager/subscribers","subscription_url":"https://api.github.com/repos/weilandia/1511_task_manager/subscription","commits_url":"https://api.github.com/repos/weilandia/1511_task_manager/commits{/sha}","git_commits_url":"https://api.github.com/repos/weilandia/1511_task_manager/git/commits{/sha}","comments_url":"https://api.github.com/repos/weilandia/1511_task_manager/comments{/number}","issue_comment_url":"https://api.github.com/repos/weilandia/1511_task_manager/issues/comments{/number}","contents_url":"https://api.github.com/repos/weilandia/1511_task_manager/contents/{+path}","compare_url":"https://api.github.com/repos/weilandia/1511_task_manager/compare/{base}...{head}","merges_url":"https://api.github.com/repos/weilandia/1511_task_manager/merges","archive_url":"https://api.github.com/repos/weilandia/1511_task_manager/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/weilandia/1511_task_manager/downloads","issues_url":"https://api.github.com/repos/weilandia/1511_task_manager/issues{/number}","pulls_url":"https://api.github.com/repos/weilandia/1511_task_manager/pulls{/number}","milestones_url":"https://api.github.com/repos/weilandia/1511_task_manager/milestones{/number}","notifications_url":"https://api.github.com/repos/weilandia/1511_task_manager/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/weilandia/1511_task_manager/labels{/name}","releases_url":"https://api.github.com/repos/weilandia/1511_task_manager/releases{/id}","deployments_url":"https://api.github.com/repos/weilandia/1511_task_manager/deployments","created_at":"2016-02-04T18:56:20Z","updated_at":"2016-02-04T18:56:21Z","pushed_at":"2016-02-04T18:52:18Z","git_url":"git://github.com/weilandia/1511_task_manager.git","ssh_url":"git@github.com:weilandia/1511_task_manager.git","clone_url":"https://github.com/weilandia/1511_task_manager.git","svn_url":"https://github.com/weilandia/1511_task_manager","homepage":null,"size":9,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":false,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true},"parent":{"id":51023835,"name":"1511_task_manager","full_name":"rwarbelow/1511_task_manager","owner":{"login":"rwarbelow","id":3311609,"avatar_url":"https://avatars.githubusercontent.com/u/3311609?v=3","gravatar_id":"","url":"https://api.github.com/users/rwarbelow","html_url":"https://github.com/rwarbelow","followers_url":"https://api.github.com/users/rwarbelow/followers","following_url":"https://api.github.com/users/rwarbelow/following{/other_user}","gists_url":"https://api.github.com/users/rwarbelow/gi[...]
- request:
    method: get
    uri: https://api.github.com/repos/weilandia/1511_task_manager/contents/app/views?ref=master
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token ee78e9ce366f546089f58aefe45c5afd296d4967
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4925'
      X-Ratelimit-Reset:
      - '1460004871'
      Etag:
      - W/"32827b739b39836232ef53f470fae43c"
      Last-Modified:
      - Thu, 04 Feb 2016 18:56:21 GMT
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 2e68d608b599215fe919
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '[{"name":"dashboard.erb","path":"app/views/dashboard.erb","sha":"adf748be4af0764e22e170fec19ff73e12dac665","size":137,"url":"https://api.github.com/repos/weilandia/1511_task_manager/contents/app/views/dashboard.erb?ref=master","html_url":"https://github.com/weilandia/1511_task_manager/blob/master/app/views/dashboard.erb","git_url":"https://api.github.com/repos/weilandia/1511_task_manager/git/blobs/adf748be4af0764e22e170fec19ff73e12dac665","download_url":"https://raw.githubusercontent.com/weilandia/1511_task_manager/master/app/views/dashboard.erb","type":"file","_links":{"self":"https://api.github.com/repos/weilandia/1511_task_manager/contents/app/views/dashboard.erb?ref=master","git":"https://api.github.com/repos/weilandia/1511_task_manager/git/blobs/adf748be4af0764e22e170fec19ff73e12dac665","html":"https://github.com/weilandia/1511_task_manager/blob/master/app/views/dashboard.erb"}},{"name":"edit.erb","path":"app/views/edit.erb","sha":"dd7fc1cc99784915410119d928c30b9cd4e8d045","size":395,"url":"https://api.github.com/repos/weilandia/1511_task_manager/contents/app/views/edit.erb?ref=master","html_url":"https://github.com/weilandia/1511_task_manager/blob/master/app/views/edit.erb","git_url":"https://api.github.com/repos/weilandia/1511_task_manager/git/blobs/dd7fc1cc99784915410119d928c30b9cd[...]
- request:
    method: post
    uri: https://api.github.com/repos/weilandia/1511_task_manager/issues
    body:
      encoding: UTF-8
      string: '{"title":"Is app/views/dashboard.erb responsive?","body":"Make sure
        it is!","labels":["enhancement"]}'
    headers:
      Authorization:
      - token ee78e9ce366f546089f58aefe45c5afd296d4967
      Content-Type:
      - application/json
  response:
    status:
      code: 410
      message: Gone
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 410 Gone
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4924'
      X-Ratelimit-Reset:
      - '1460004871'
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 2e68d608b599215fe919
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: UTF-8
      string: '{"message":"Issues are disabled for this repo","documentation_url":"https://developer.github.com/v3/issues/"}'
  recorded_at: Thu, 07 Apr 2016 04:24:36 GMT
[...]
- request:
    method: post
    uri: https://api.github.com/repos/weilandia/1511_task_manager/issues
    body:
      encoding: UTF-8
      string: '{"title":"Is app/views/show.erb responsive?","body":"Make sure it is!","labels":["enhancement"]}'
    headers:
      Authorization:
      - token ee78e9ce366f546089f58aefe45c5afd296d4967
      Content-Type:
      - application/json
  response:
    status:
      code: 410
      message: Gone
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 410 Gone
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4919'
      X-Ratelimit-Reset:
      - '1460004871'
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 2e68d608b599215fe919
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: UTF-8
      string: '{"message":"Issues are disabled for this repo","documentation_url":"https://developer.github.com/v3/issues/"}'
  recorded_at: Thu, 07 Apr 2016 04:24:37 GMT
recorded_with: VCR 3.0.1
