<div class="container">
  <table class="table table-responsive table-hover">
    <% @repos.each do |repo| %>
    <tr>
      <%= form_tag user_apirepo_path(current_user.nickname, repo.name), method: 'post' do %>
      <td>
        <%= repo.name %>
        <span class="float-right">
          <%= submit_tag "generate responsiveness issues", class:"btn btn-primary btn-xs" %>
        </span>
      </td>
      <% end %>
    </tr>
    <% end %>
  </table>
</div>
