<footer class="footer">
  <div class="row">
    <div class="col-xs-12 text-center lo-footer copyright">
      <p class="light">created by<span class="bold">
        <%= link_to "weilandia", "https://weilandia.github.io" %>
      </p>
    </div>
  </div>
</footer>
