<nav role="navigation" class="navbar navbar-default custom-navbar">
  <div class="nav-container">
      <%= render partial: "shared/nav_brand" %>
    <div class="navbar-nav pull-right">
      <%= render partial: "shared/nav_current_user" %>
    </div>
  </div>
</nav>
