<div class="navbar-header pull-left">
    <a class="logo-link" href="/"><%= image_tag("logo.png", id:"nav-logo_img", class:"logo-img") %>
    <span class="nav-logo-git co-name">GIT </span><span class="nav-logo-access co-name"> RESPONSIVE</span></a><br>
</div>
