*{
  font-family:'Open Sans', sans-serif;
  font-weight: 400;
}

.float-right {
  float: right;
}

.alert_info {
  margin-top: -6px;
  margin-bottom: 0;
  border-radius: 0;
  text-align: center;
  color: white;
  background-color: rgba(41,128,185,.3);
}
.light {
  font-weight: 300;
}
