.instructions {
  margin-top: 65px;
  margin-bottom: 25px;
}

.checked-repos-header {
  margin-left: 9px;
}

.dropdown-margin {
  margin-bottom: 10px;
}

.btn-already {
  background-color: #34495e;
  color: #fff;
}
